{% extends 'base.html.twig' %}

{% block title %}Product reservation{% endblock %}

{% block body %}

<div class="container my-3 text-right">
    <a class="btn btn-md bg-info text-white" href="{{ path('index') }}">Go back</a>
</div>
<div class="container border my-3 p-3">
    {{ form_start(form) }}
        {{ form_widget(form.name) }}
        
            {{ form_label(form.return_date) }}
            {{ form_widget(form.return_date) }}
         
        
        <div class="form-group">
            <button class="btn btn-lg bg-dark text-white mt-3" type="submit">Reserve</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}