{% extends 'base.html.twig' %}

{% block body %}

  <h1>Création d'article:</h1>

  {{ form_start(formProduct)}}
    <div class="mx-2 my-2">
      {{form_row(formProduct.name)}}
      {{form_row(formProduct.reference)}}
      {{form_row(formProduct.category)}}
      {{form_row(formProduct.purchase_date)}}
      {{form_row(formProduct.warranty_date)}}
      {{form_row(formProduct.price)}}
      {{form_row(formProduct.receipt)}}
      {{form_row(formProduct.maintenance)}}
      {{form_row(formProduct.manual)}}
      {{form_row(formProduct.return_date)}}
      {{form_row(formProduct.reservation_date)}}
      {{form_row(formProduct.purchase_place)}}
    </div>  
      <button type="submit" class="btn btn-success mx-2 my-2" name="button">
        {% if editMode %}
          Enregistrer les modifications
        {% else %}
          Créer
        {% endif %}
      </button>
  {{ form_end(formProduct) }}

  <a href="{{path('product')}}">
    <button class="btn btn-danger mx-2">
      Annuler
    </button>
  </a>  

{% endblock %}