{% extends 'base.html.twig' %}

{% block body %}

  <h1>Création d'article:</h1>

  {{ form_start(formProduct)}}

    {{form_row(formProduct.name)}}
    {{form_row(formProduct.reference)}}
    {{form_row(formProduct.category)}}
    {{form_row(formProduct.purchase_date)}}
    {{form_row(formProduct.warranty_date)}}
    {{form_row(formProduct.price)}}
    {{form_row(formProduct.receipt)}}
    {{form_row(formProduct.maintenance)}}
    {{form_row(formProduct.manual)}}
    {{form_row(formProduct.reservation_date)}}
    {{form_row(formProduct.return_date)}}
    {{form_row(formProduct.purchase_place)}}
    <button type="submit" class="btn btn-success" name="button">
      {% if editMode %}
      Enregistrer les modifications
      {% else %}
      Créer
      {% endif %}
    </button>
    <a href="{{path('product')}}">
      <button class="btn btn-danger">
        Annuler
      </button>
    </a>  
  {{ form_end(formProduct) }}

{% endblock %}