{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<a href="{{path('product_create')}}">
  <button type="submit" class="btn btn-primary mx-2 my-2" name="button">CREER</button>
</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Reference </th>
      <th scope="col">Catégorie</th>
      <th scope="col">Date Achat</th>
      <th scope="col">Date Garrantie</th>
      <th scope="col">Prix</th>
      <th scope="col">Ticket Achat</th>
      <th scope="col">Fiche Maintenance</th>
      <th scope="col">Manuel utilisation</th>
      <th scope="col">Vendu Par</th>
    </tr>
  </thead>
  <tbody>
{% for product in product %}
  <tr>
    <th>
      <a href="{{path('product_detail' , {'id': product.id})}}">{{product.name}}</a>
    </th>
      <td>{{product.reference}}</td>
      <td>{{product.category}}</td>
      <td>{{product.purchasedate | date('d/m/Y')}}</td>
      <td>{{product.warrantydate | date('d/m/Y')}}</td>
      <td>{{product.price}}</td>
      <td>
        <a href="{{ asset('uploads/receipt/' ~ product.receipt) }}">Voir Ticket</a>
      </td>
      <td>{{product.maintenance}}</td>
      <td>
        <a href="{{ asset('uploads/manual/' ~ product.manual) }}">Voir Manuel</a>
      </td>
      <td>{{product.purchaseplace}}</td>
      <td>
        <form action="{{path('product_edit' , {'id': product.id})}}">
          <button type="submit" class="btn btn-success" name="button">UPDATE</button>
        </form>
      </td>
      <td>
        <form action="{{path('delete_product' , {'id': product.id})}}">
          <button type="submit" class="btn btn-danger" name="button">DELETE</button>
        </form>
      </td>
    </tr>
    
  {% endfor %}
</tbody>
</table>

{% endblock %}
