{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

{% for product in product %}
    <p>{{product.name}}</p>
    <p>{{product.reference}}</p>
    <p>{{product.category}}</p>
    <p>{{product.purchasedate | date('d/m/Y')}}</p>
    <p>{{product.warrantydate | date('d/m/Y')}}</p>
    <p>{{product.price}}</p>
    <p>{{product.receipt}}</p>
    <p>{{product.maintenance}}</p>
    <p>{{product.manual}}</p>
    <p>{{product.reservationdate | date('d/m/Y')}}</p>
    <p>{{product.returndate | date('d/m/Y')}}</p>
    {% if product.availability == 1 %}
    <p>{{product.purchaseplace}}</p>
    <p>__________________________________</p>

        
    {% endif %}
  {% endfor %}

{% endblock %}
