{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
{# {% if is_granted('ROLE_ADMIN') %}
    Administrator
{% elseif is_granted('ROLE_USER') %}
    User
{% else %}
    Anonymous
{% endif %} #}

<div class="container-fluid text-center">
    <button id="showCells" class="btn btn-md bg-info mx-auto mt-3 text-white" type="button">Show More</button>
    <table class="my-3 table table-sm table-bordered table-striped table-hover text-justify">
        <thead class="thead-dark text-uppercase">
            <tr>
                <th class="hiddenCell d-none" scope="col">Id</th>
                <th class="" scope="col">Name</th>
                <th class="hiddenCell d-none" scope="col">Reference</th>
                <th class="hiddenCell d-none" scope="col">Category</th>
                <th class="" scope="col">Purchase Date</th>
                <th class="" scope="col">Warranty Date</th>
                <th class="" scope="col">Price</th>
                <th class="" scope="col">Receipt</th>
                <th class="hiddenCell d-none" scope="col">Maintenance</th>
                <th class="" scope="col">Manual</th>
                <th class="" scope="col">Reservation Date</th>
                <th class="" scope="col">Return Date</th>
                <th class="" scope="col">Availability</th>
                <th class="" scope="col">Purchase Place</th>
                <th class="" scope="col">Make Reservation</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th class="hiddenCell d-none" scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td class="hiddenCell d-none">{{ product.reference }}</td>
                <td class="hiddenCell d-none">{{ product.category }}</td>
                <td>{{ product.purchaseDate|date('Y-m-d') }}</td>
                <td>{{ product.warrantyDate|date('Y-m-d') }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-md bg-success text-decoration-none text-white" href="{{ product.receipt }}" download>Receipt</a>
                </td>
                <td class="hiddenCell d-none">{{ product.maintenance }}</td>
                <td>
                    <a class="btn btn-md bg-success text-decoration-none text-white" href="{{ product.manual }}" download>Manual</a>
                </td>
                <td>{{ product.reservationDate|date('Y-m-d') }}</td>
                <td>{{ product.returnDate|date('Y-m-d') }}</td>
                <td>
                    {% if product.availability == 1 %}
                        {{ 'available' }}
                    {% else %}
                        {{ 'unavailable' }}
                    {% endif %}
                </td>
                <td>{{ product.purchasePlace }}</td>
                <td>
                    <a class="btn btn-md bg-info mx-auto my-1 w-100 text-white" href="{{ path('index') }}">Details</a>
                    {% if current_username != product.idUser %}
                        {% if product.availability == 0 %}
                            <button class="disabled btn btn-md bg-danger mx-auto my-1 w-100 text-white">Product Unavailable</button>
                            <a class="btn btn-md bg-warning mx-auto my-1 w-100 text-white" href="{{ path('reserve_product', {id: product.id}) }}">Reserve</a>
                        {% else %}
                            <a class="btn btn-md bg-warning mx-auto my-1 w-100 text-white" href="{{ path('reserve_product', {id: product.id}) }}">Rent</a>
                        {% endif %}
                    {% elseif current_username == product.idUser %}
                        {% if product.availability == 1 %}
                            <a class="btn btn-md bg-warning mx-auto my-1 w-100 text-white" href="{{ path('reserve_product', {id: product.id}) }}">Rent</a>
                        {% else %}
                            <a class="btn btn-md bg-danger mx-auto my-1 w-100 text-white" href="{{ path('return_product', {id: product.id}) }}">Return</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


